

#playButton {
    transition: border 0.5s linear; 
    border: 1px solid black;
    border-radius: 35px;
    background-color: white;
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
    transition: background 9999999s;
}

#playButton:hover {
    border: 2px solid black;
    box-shadow: 1px 1px 2px 0 black;
    
}

#playButton:active{
    border: 2px solid black;
    background-color: green;
    transition: background 0s; 
}


#canvas{
    border: 4px solid white;
    background-color: black;
}

div{
    display: inline-block;
    vertical-align: top;
}

#options{
    border: 4px solid white;
    background-color: black;
    margin-top: 0px;
    margin-left: 0px;
    padding-left:10px;
    padding-right: 10px;
    width: 25%;
    height:100%;

}
h2{
    color: white;
    text-align: center;
}
label {
    color: white;
}
p{
    color:white;
    text-align: justify;
}
b {
    color: white;
}

html{

    width: 100%;
    height: 100%; /* Высота веб-страницы */
    background: #562300 url(images/background2.gif) 
          no-repeat 0 0; /* Путь к графическому файлу с фоном */
    background-size: 100%; /* Современные браузеры */
   
    color: #fff; /* Белый цвет текста */
}